
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top text-capitalize">
     <div class="container">
         <a class="navbar-logo" routerLink="app/home">
            <img src="../../assets/webdevelopinglogo.jpeg" class="bg-dark rounded-circle" width=100 alt="">
         </a>
         <button type="button" class="navbar-toggler collapse" data-bs-toggle="collapse" data-bs-target="#mynav">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div id="mynav" class="collapse navbar-collapse fs-5 px-5" >
            <ul class="navbar-nav">
                <li class="nav-item px-3"><a routerLink="/" class="nav-link">home</a></li>
                <li class="nav-item px-3"><a routerLink="app/about" class="nav-link">about</a></li>
                <li class="nav-item px-3"><a routerLink="app/services" class="nav-link">services</a></li>
                <li class="nav-item px-3"><a routerLink="app/contactus" class="nav-link">contact-us</a></li>
            </ul>
            <form class="d-flex mx-5">
                <input class="form-control fs-5 text-capitalize fw-bold" type="search" placeholder="search here" name="" id="">
                <button class="btn btn-primary fs-5 fw-bold text-capitalize">search</button>
             </form>
         </div>
         
     </div>
</nav>


